/node_modules

#/storage/app/public/*
#!/storage/app/public/components/
#!/storage/app/public/excels/

/public/hot

#/storage/*.key

/vendor

.env
.env.develop
.env.backup

.phpunit.result.cache

composer.lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
composer.lock
package-lock.json
package.json
/tests
