/node_modules

/storage/*.key

/public/storage

/vendor

.env
.env.develop
.env.backup

.phpunit.result.cache
/storage/laravel.log
composer.lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
composer.lock
package-lock.json
package.json
/tests
*.DS_Store

/encrypted

/bootstrap/cache